body {
  padding: 25px;
  background-color: #f2f2f2;
  color: #111111;
  font-family: system-ui, sans-serif;
}

h1 {
  font-size: 44px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

a {
  color: #111111;
}

.dark-mode {
  background-color: #111111;
  color: #f2f2f2;
}

.toggle-button-section {
  align-items: center;
  display: flex;
  justify-content: center;
}

.fa-long-arrow-alt-left {
  font-size: 24px;
  margin: 0 0.5em;
  position: relative;
  animation: left-arrow 3s infinite;
}

@keyframes left-arrow {
  0% {
    left: 25px;
  }
  50% {
    left: 0px;
  }
  100% {
    left: 25px;
  }
}

.fa-long-arrow-alt-right {
  font-size: 24px;
  margin: 0 0.5em;
  position: relative;
  animation: right-arrow 3s infinite;
}

@keyframes right-arrow {
  0% {
    right: 25px;
  }
  50% {
    right: 0px;
  }
  100% {
    right: 25px;
  }
}

pre {
  background: lightgrey;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.5;
  max-width: 100%;
  overflow: auto;
  padding: 0.5em;
  white-space: pre;
}

code {
  background: lightgrey;
  border-radius: 5px;
  font-size: 18px;
  line-height: 1.5;
  max-width: 100%;
  overflow: auto;
  padding: 0.15em 0.5em;
  white-space: pre;
}

.dark-code,
.dark-pre {
  background: #f2f2f2;
  color: #111111;
}

.dark-anchor {
  color: #f2f2f2;
}
